/*web font*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
/* Main tittle font*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&family=Roboto:wght@300;400;500&family=Tektur&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&family=Raleway&family=Roboto:wght@300;400;500&family=Tektur&family=Ysabeau+Infant:ital,wght@0,200;1,400&display=swap');


@import url('https://fonts.googleapis.com/css2?family=REM:wght@200&display=swap');
/*REM*/
@import url('https://fonts.googleapis.com/css2?family=REM:wght@200&family=Roboto:wght@300&display=swap');
/*Roboto*/

/* VARIABLES */
:root {
    color: white;
    font-family: "Roboto", sans-serif;

    --font-text: "Roboto", sans-serif;
    --font-title: 'Tektur', sans-serif;
    --font-ex: 'Ysabeau Infant', sans-serif;
    --text-size: 20px;
    --normal-font: 300;
    --bold-font: 400;
    --bolder-font: 500;
    --text-color: #fcfcfc;
    --primary-color: #4756df;
    --secondary-color: #ff7235;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
    --border_img: 20px;
    --margin-general: 30px;
}

/* GENERAL CONF */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 20px;
    background-image: url("../images/background-desktop.jpg");
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
    height: 100vh;
}

li {
    color: rgb(255, 132, 0);
    ;
}

a {
    color: rgb(255, 132, 0);
    text-decoration: none;
    font-size: 25px;
}

.li_text {
    color: white;
}



/* HEAD */
/* Language Button */
.switch {
    position: relative;
    margin: 0 5px;
    float: right;
}

.switch>span {
    position: absolute;
    top: 14px;
    pointer-events: none;
    font-family: 'Helvetica', Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .06);
    width: 50%;
    text-align: center;
}

input.check-toggle-round-flat:checked~.off {
    color: #F36F25;
}

input.check-toggle-round-flat:checked~.on {
    color: #fff;
}

.switch>span.on {
    left: 0;
    padding-left: 2px;
    color: #F36F25;
}

.switch>span.off {
    right: 0;
    padding-right: 4px;
    color: #fff;
}

.check-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}

.check-toggle+label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
}

input.check-toggle-round-flat+label {
    padding: 2px;
    width: 97px;
    height: 35px;
    background-color: #00000077;
    border-radius: 60px;
}

input.check-toggle-round-flat+label:before,
input.check-toggle-round-flat+label:after {
    display: block;
    position: absolute;
    content: "";
}

input.check-toggle-round-flat+label:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: #00000077;
    border-radius: 60px;
}

input.check-toggle-round-flat+label:after {
    top: 4px;
    left: 4px;
    bottom: 4px;
    width: 48px;
    background-color: #fff;
    border-radius: 52px;
    transition: margin 0.2s;
}

input.check-toggle-round-flat:checked+label:after {
    margin-left: 44px;
}

/* MAIN CONTENT*/

main {
    flex: 1;
    padding-bottom: 200px;
}

.image-blur {
    backdrop-filter: blur(0.5px)
}


.main_title h1 {
    margin: 10px 70px 50px 70px;
    font-size: 60px;
    font-family: var(--font-title);
    color: rgb(255, 255, 255);
}

.section_title {
    text-align: center;
    font-size: 60px;
    font-family: var(--font-title);
    color: rgb(255, 255, 255);
}

.dot {
    color: rgb(255, 132, 0);
}

.p1 {
    text-align: justify;

}

.space_line {
    margin: 40px 0px 40px 0px;
}

/* HIDDEN CONTENTS */
.hidden_container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}



.window {
    width: 80%;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.45);
    border-radius: var(--border_img);
}

.window p {
    font-family: 'Roboto';
    font-size: var(--text-size);
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.817);
}

.sticker {
    position: relative;
    top: -5%;
    left: 40%;
}

.text_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.text_content p {
    text-align: justify;
}

.p1 {

    padding: 20px;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: var(--border_img);
}

.p2 {
    width: 50%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: var(--border_img);
}

.p3 {

    padding: 20px;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: var(--border_img);
}

.p4 {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: var(--border_img);
}

.p5 {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: var(--border_img);
}

.p6 {
    width: 50%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: var(--border_img);
}

.span_project_container {
    width: 90%;
    margin: 50px 0px 50px 0px;
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--margin-general);
}

.project_text {
    padding: 20px;
    background-color: rgba(255, 136, 0, 0.3);
    border-radius: 30px;
}

.project_text:nth-child(1) {
    justify-self: start;
}

.project_text:nth-child(2) {
    justify-self: center;
}

.project_text:nth-child(3) {
    justify-self: end;
}

.project_text:nth-child(4) {
    justify-self: center;
}

.project_text:nth-child(5) {
    justify-self: left;
}

.images {
    width: 90%;
}

.images img {
    border-radius: var(--border_img);
    width: 400px;
}

.images img:nth-child(1) {
    float: right;
    margin-bottom: var(--margin-general);

}

.images img:nth-child(2) {
    float: left;
    clear: both;

}


/* MAGIC BUTTON*/
.button_container {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 40px 0px 20px 0px;
}

button p {
    font-family: var(--font-title);
    font-size: 15px;
}

.glow-on-hover {
    width: 200px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: rgb(0, 0, 0);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 15px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 15px;
}

.glow-on-hover:active {
    color: rgb(0, 0, 0);
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111111fc;
    left: 0;
    top: 0;
    border-radius: 15px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

/* SLIDER IMG */

.gallery {
    --d: 45s;
    display: grid;
    justify-content: end;
    overflow: hidden;
    margin-top: 75px;
}

.gallery>img {
    grid-area: 1/1;
    height: 250px;
    aspect-ratio: 1.5;
    object-fit: cover;
    animation: r var(--d) linear infinite;
    opacity: 1;
    transition: opacity 0.5s ease;
    margin-top: var(--margin-general);
    border-radius: var(--border_img);
}

.gallery>img:nth-child(2) {
    animation-delay: calc(1*var(--d)/-16)
}

.gallery>img:nth-child(3) {
    animation-delay: calc(2*var(--d)/-16)
}

.gallery>img:nth-child(4) {
    animation-delay: calc(3*var(--d)/-16)
}

.gallery>img:nth-child(5) {
    animation-delay: calc(4*var(--d)/-16)
}

.gallery>img:nth-child(6) {
    animation-delay: calc(5*var(--d)/-16)
}

.gallery>img:nth-child(7) {
    animation-delay: calc(6*var(--d)/-16)
}

.gallery>img:nth-child(8) {
    animation-delay: calc(7*var(--d)/-16)
}

.gallery>img:nth-child(9) {
    animation-delay: calc(8*var(--d)/-16)
}

.gallery>img:nth-child(10) {
    animation-delay: calc(9*var(--d)/-16)
}

.gallery>img:nth-child(11) {
    animation-delay: calc(10*var(--d)/-16)
}

.gallery>img:nth-child(12) {
    animation-delay: calc(11*var(--d)/-16)
}

.gallery>img:nth-child(13) {
    animation-delay: calc(12*var(--d)/-16)
}

.gallery>img:nth-child(14) {
    animation-delay: calc(13*var(--d)/-16)
}

.gallery>img:nth-child(15) {
    animation-delay: calc(14*var(--d)/-16)
}

.gallery>img:nth-child(16) {
    animation-delay: calc(15*var(--d)/-16)
}


@keyframes r {

    93.75% {
        transform: translate(-1600%);
    }

    93.76% {
        transform: translate(100%);
        opacity: 0;
    }

}

/* FOOTER */

.footer_container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bg-color);
    padding: 20px;
}