/*web font*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
/* Main tittle font*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&family=Roboto:wght@300;400;500&family=Tektur&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&family=Raleway&family=Roboto:wght@300;400;500&family=Tektur&family=Ysabeau+Infant:ital,wght@0,200;1,400&display=swap');


@import url('https://fonts.googleapis.com/css2?family=REM:wght@200&display=swap');
/*REM*/
@import url('https://fonts.googleapis.com/css2?family=REM:wght@200&family=Roboto:wght@300&display=swap');
/*Roboto*/

/* VARIABLES */
:root {
    color: white;
    font-family: "Roboto", sans-serif;

    --font-text: "Roboto", sans-serif;
    --font-title: 'Tektur', sans-serif;
    --text-size: 20px;
    --text-size-mobile: 14px;
    --normal-font: 300;
    --bold-font: 400;
    --bolder-font: 500;
    --text-color: #fcfcfc;
    --primary-color: #ff7235;
    --transition: 0.3s;
    --border_img: 20px;
    --margin-general: 30px;
}

/* GENERAL CONF */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 20px;
    background-image: url("../images/background-desktop.jpg");
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
    height: 100vh;
}

hr {
    width: 100%;
}

a {
    color: rgb(255, 132, 0);
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
}

.dot {
    color: var(--primary-color);
}

/* HEAD */
/* Language Button */
.switch {
    position: relative;
    margin: 0 5px;
    float: right;
}

.switch>span {
    position: absolute;
    top: 14px;
    pointer-events: none;
    font-family: 'Helvetica', Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .06);
    width: 50%;
    text-align: center;
}

input.check-toggle-round-flat:checked~.off {
    color: #F36F25;
}

input.check-toggle-round-flat:checked~.on {
    color: #fff;
}

.switch>span.on {
    left: 0;
    padding-left: 2px;
    color: #F36F25;
}

.switch>span.off {
    right: 0;
    padding-right: 4px;
    color: #fff;
}

.check-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}

.check-toggle+label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
}

input.check-toggle-round-flat+label {
    padding: 2px;
    width: 97px;
    height: 35px;
    background-color: #00000077;
    border-radius: 60px;
}

input.check-toggle-round-flat+label:before,
input.check-toggle-round-flat+label:after {
    display: block;
    position: absolute;
    content: "";
}

input.check-toggle-round-flat+label:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: #00000077;
    border-radius: 60px;
}

input.check-toggle-round-flat+label:after {
    top: 4px;
    left: 4px;
    bottom: 4px;
    width: 48px;
    background-color: #fff;
    border-radius: 52px;
    transition: margin 0.2s;
}

input.check-toggle-round-flat:checked+label:after {
    margin-left: 44px;
}

/* HOME */
/* MAGIC BUTTON*/
.button_container {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 40px 0px 20px 0px;
}

button p {
    font-family: var(--font-title);
    font-size: 15px;
}


.glow-on-hover {
    width: 200px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: rgb(0, 0, 0);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 15px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 15px;
}

.glow-on-hover:active {
    color: rgb(0, 0, 0);

}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111111fc;
    left: 0;
    top: 0;
    border-radius: 15px;
}


@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

/* MAIN CONTENT*/

main {
    flex: 1;
    padding-bottom: 200px;
}

.image-blur {
    backdrop-filter: blur(0.5px)
}


.main_title h1 {
    margin: 10px 70px 50px 70px;
    font-size: 60px;
    font-family: var(--font-title);
    color: rgb(255, 255, 255);
}

.section_title {
    text-align: center;
    font-size: 60px;
    font-family: var(--font-title);
    color: rgb(255, 255, 255);
}

/* HIDDEN CONTENTS */
.hidden_container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.window {
    width: 80%;
    padding: 40px;
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.45);
    border-radius: var(--border_img);
    position: relative;
}

.window p {
    font-family: 'Roboto';
    font-size: var(--text-size);
    color: rgba(255, 255, 255, 0.817);
}

.text_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text_content p {
    text-align: justify;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: var(--border_img);
}


p.small {
    text-align: center;
    width: 50%;
    margin-bottom: 80px;
}

span.small {
    width: 50%;
    text-align: center;
    margin-bottom: 80px;
}

p.clear {
    background-color: unset;
    border-radius: unset;
    text-align: center;
}

.span_project_container {
    width: 90%;
    margin: 80px 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--margin-general);
}

.project_text {
    padding: 20px;
    background-color: rgba(255, 136, 0, 0.3);
    border-radius: 30px;
    font-family: var(--font-title);
}

.project_text:nth-child(1) {
    justify-self: start;
}

.project_text:nth-child(2) {
    justify-self: center;
}

.project_text:nth-child(3) {
    justify-self: end;
}

.project_text:nth-child(4) {
    justify-self: center;
}

.project_text:nth-child(5) {
    justify-self: left;
}

.images {
    opacity: 0.7;
}

.images img {
    width: 500px;
    border-radius: var(--border_img);
    margin: 80px 0;
}


/* STUDIES */

.studies_card {
    width: 100%;
    margin: 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.studies_card img {
    width: 250px;
}

.card_text {
    font-family: var(--font-title);
    font-size: 15px;
    width: 250px;
    text-align: center;
}

ion-icon {
    cursor: pointer;
    width: 48px;
    height: 48px;
}

.icon_form {
    cursor: pointer;
    width: 30px;
    height: 30px;
}


/* SLIDER IMG */

.gallery {
    --d: 45s;
    width: 80%;
    margin-bottom: 60px;
    display: grid;
    justify-content: end;
    align-items: center;
    overflow: hidden;
}

.gallery>img {
    grid-area: 1/1;
    height: 250px;
    aspect-ratio: 1.5;
    object-fit: cover;
    animation: r var(--d) linear infinite;
    opacity: 1;
    transition: opacity 0.5s ease;
    border-radius: var(--border_img);
}

.gallery>img:nth-child(2) {
    animation-delay: calc(1*var(--d)/-16)
}

.gallery>img:nth-child(3) {
    animation-delay: calc(2*var(--d)/-16)
}

.gallery>img:nth-child(4) {
    animation-delay: calc(3*var(--d)/-16)
}

.gallery>img:nth-child(5) {
    animation-delay: calc(4*var(--d)/-16)
}

.gallery>img:nth-child(6) {
    animation-delay: calc(5*var(--d)/-16)
}

.gallery>img:nth-child(7) {
    animation-delay: calc(6*var(--d)/-16)
}

.gallery>img:nth-child(8) {
    animation-delay: calc(7*var(--d)/-16)
}

.gallery>img:nth-child(9) {
    animation-delay: calc(8*var(--d)/-16)
}

.gallery>img:nth-child(10) {
    animation-delay: calc(9*var(--d)/-16)
}

.gallery>img:nth-child(11) {
    animation-delay: calc(10*var(--d)/-16)
}

.gallery>img:nth-child(12) {
    animation-delay: calc(11*var(--d)/-16)
}

.gallery>img:nth-child(13) {
    animation-delay: calc(12*var(--d)/-16)
}

.gallery>img:nth-child(14) {
    animation-delay: calc(13*var(--d)/-16)
}

.gallery>img:nth-child(15) {
    animation-delay: calc(14*var(--d)/-16)
}

.gallery>img:nth-child(16) {
    animation-delay: calc(15*var(--d)/-16)
}


@keyframes r {

    93.75% {
        transform: translate(-1600%);
    }

    93.76% {
        transform: translate(100%);
        opacity: 0;
    }

}

/* SOCIAL MEDIA */
#social_container {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

#social_container img {
    width: 48px;
}


/* FOOTER */

.footer_container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bg-color);
    padding: 20px;
}

/* PROJECTS*/
/* SLIDER CARDS*/


.slider {
    width: 80%
}

.slider input {
    display: none;
    height: max-content;
}

.testimonials {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 500px;
    perspective: 3500px;
    overflow: hidden;
}

.testimonials .item {
    width: 600px;
    height: 500px;
    padding: 30px;
    background-color: #2f2f2f;
    position: absolute;
    top: 0;
    box-sizing: border-box;
    text-align: center;
    transition: transform 0.8s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    user-select: none;
    cursor: pointer;
    border-radius: var(--border_img);
}

.testimonials .item h3 {
    font-size: 20px;
    font-family: var(--font-title);
    color: white;
}

.testimonials .item p {
    font-size: 18px;
    font-family: var(--font-text);
    color: white;
}

.dots {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dots label {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #413B52;
    margin: 7px;
    transition-duration: 0.2s;
}

#t-1:checked~.dots label[for="t-1"],
#t-2:checked~.dots label[for="t-2"],
#t-3:checked~.dots label[for="t-3"],
#t-4:checked~.dots label[for="t-4"],
#t-5:checked~.dots label[for="t-5"] {
    transform: scale(2.5);
    background-color: white;
    box-shadow: 0px 0px 0px 3px #dddddd24;
}

#t-1:checked~.dots label[for="t-2"],
#t-2:checked~.dots label[for="t-1"],
#t-2:checked~.dots label[for="t-3"],
#t-3:checked~.dots label[for="t-2"],
#t-3:checked~.dots label[for="t-4"],
#t-4:checked~.dots label[for="t-3"],
#t-4:checked~.dots label[for="t-5"],
#t-5:checked~.dots label[for="t-4"] {
    transform: scale(1.5);
}

#t-1:checked~.testimonials label[for="t-3"],
#t-2:checked~.testimonials label[for="t-4"],
#t-3:checked~.testimonials label[for="t-5"],
#t-4:checked~.testimonials label[for="t-1"],
#t-5:checked~.testimonials label[for="t-2"] {
    transform: translate3d(600px, 0, -180px) rotateY(-25deg);
    z-index: 2;
    opacity: 0.6;
    height: 90%;
}

#t-1:checked~.testimonials label[for="t-2"],
#t-2:checked~.testimonials label[for="t-3"],
#t-3:checked~.testimonials label[for="t-4"],
#t-4:checked~.testimonials label[for="t-5"],
#t-5:checked~.testimonials label[for="t-1"] {
    transform: translate3d(900px, 0, -90px) rotateY(-15deg);
    z-index: 3;

}

#t-2:checked~.testimonials label[for="t-1"],
#t-3:checked~.testimonials label[for="t-2"],
#t-4:checked~.testimonials label[for="t-3"],
#t-5:checked~.testimonials label[for="t-4"],
#t-1:checked~.testimonials label[for="t-5"] {
    transform: translate3d(-900px, 0, -90px) rotateY(15deg);
    z-index: 3;

}

#t-3:checked~.testimonials label[for="t-1"],
#t-4:checked~.testimonials label[for="t-2"],
#t-5:checked~.testimonials label[for="t-3"],
#t-2:checked~.testimonials label[for="t-5"],
#t-1:checked~.testimonials label[for="t-4"] {
    transform: translate3d(-600px, 0, -180px) rotateY(25deg);
    opacity: 0.6;
    height: 90%;

}

#t-1:checked~.testimonials label[for="t-1"],
#t-2:checked~.testimonials label[for="t-2"],
#t-3:checked~.testimonials label[for="t-3"],
#t-4:checked~.testimonials label[for="t-4"],
#t-5:checked~.testimonials label[for="t-5"] {
    z-index: 4;
}

/* CONTACT ME */
/* FORM */

#w3 {
    width: 400px;
}

.form_window {
    padding: 50px 25px 0px 25px;
}

.sticker {
    position: absolute;
    top: -20%;
    left: 37%;
    width: 110px;
}

.contact_form {
    font-family: var(--font-title);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact_form div {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact_form div input {
    color: var(--text-color);
    font-family: var(--font-text);
    font-size: 14px;
    border-radius: 5px;
    width: 100%;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.43);
    border: none
}

.contact_form div textarea {
    color: var(--text-color);
    font-family: var(--font-text);
    font-size: 14px;
    border-radius: 5px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.43);
    border: none
}

input:focus,
textarea:focus,
button:focus {
    box-shadow: 0 0 5px var(--primary-color);
    outline: none;
}

.field_button button {
    color: var(--text-color);
    width: 50%;
    margin: auto;
    margin-top: 30px;
    padding: 10px;
    border-radius: 30px;
    font-family: var(--font-title);
    background-color: rgba(255, 136, 0, 0.3);
    border: none;
    transition: width 0.5s, background-color 0.5s;
}

.field_button button:hover {
    width: 75%;
    background-color: rgba(255, 136, 0, 0.577);
    transition: 0.5s;
}

/* RESPONSIVE MOBILE */

@media (max-width: 480px) {

    /* Home */
    .main_title h1 {
        margin: 50px 20px 50px 20px;
        font-size: 30px;
    }

    .button_container {
        flex-direction: column;
    }

    .footer_content {
        display: flex;
        flex-direction: column;
        font-size: 14px;
    }

    /* About me */

    .window {
        width: 80%;
        padding: 20px 30px;
        margin-top: 20px;
    }

    .section_title {
        text-align: center;
        font-size: 30px;
    }

    .hidden_container {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }

    .window p {
        font-family: 'Roboto';
        font-size: var(--text-size-mobile);
        color: rgba(255, 255, 255, 0.817);
    }

    .text_content p {
        text-align: justify;
    }

    .images img {
        width: 100%;
        border-radius: var(--border_img);
        margin: 30px 0;
    }

    .span_project_container {
        margin: 30px 0;
    }

    .project_text {
        padding: 20px;
        justify-self: center;
        text-align: center;
    }

    /*Link to projects*/
    p.small {
        text-align: center;
        width: 90%;
        margin-bottom: 50px;
    }

    a {
        font-size: 25px;
    }

    /* Studies images*/

    .studies_card {
        justify-content: space-between;
    }

    .studies_card img {
        width: 100px;
    }

    .card_text {
        width: 100px;
    }

    span.small {
        width: 90%;
        margin-bottom: 50px;
    }

    /* SLIDER IMG */

    .gallery {

        margin-bottom: 15px;

    }

    .gallery>img {
        width: 100%;
        height: auto;

    }


}